<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" type="text/css" href="main.css"> -->
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Board</title>
</head>
<body>
    <div class="container border border-primary p-5">
            <h1 id="title">Chat Board</h1>
            <label for="comment"></label>
            <div class="panel panel-default">
                <div class="panel-body border p-3" id="chatbox"></div>
              </div>
            <input class="form-control" id = "msg" type="text">
            <button class="btn btn-primary" id="btn">Send</button>
    </div>
    
</body>
<script type="text/javascript">
    var socket = io();
    var name = prompt("Please enter your name:","Name");
    var elem = document.getElementById('chatbox');
    socket.emit("new_user", {name:name});
    $("#btn").click(function(){
        socket.emit("new_message", {name:name, message:$('#msg').val()});
            $('#msg').val("");
    });
    socket.on('existing_messages', function(data){
        for(i in data)
            $("#chatbox").append("<p>"+data[i].name+": "+data[i].message+"</p>");
        elem.scrollTop = elem.scrollHeight;
    });
    socket.on('update_messages', function(data){
        $("#chatbox").append("<p>"+data.name+": "+data.message+"</p>");
        elem.scrollTop = elem.scrollHeight;
    });
    socket.on('user_disconnect', function(data){
        $("#chatbox").append("<p style='color:red'>"+data.name+" has left the chat"+"</p>");
        elem.scrollTop = elem.scrollHeight;
    });
    socket.on('display_new_user', function(data){
        $("#chatbox").append("<p style='color:green'>"+data.name+" has joined the chat"+"</p>");  	
        elem.scrollTop = elem.scrollHeight;
    });
</script>
</html>